<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body dir="rtl">


    <!--navbar start-->


    <nav class="navbar">
        <div class="logo">
            <img src="images/ten.png" height="80px" width="80px">
        </div>
        <div class="tit">
            <small>دومـاً, عشرة على 10</small>
        </div>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-list">
            <li><a href="#">الرئيسية</a></li>
            <li><a href="#">المفضلة</a></li>
            <li><a href="#">طلباتي</a></li>
            <li><a href="#">السلة (0)</a></li>
            <li class="uniqe"><a href="">دخول</a></li>
        </ul>
    </nav>
    <!--navbar ending-->
    









    <!-- meal details-->

    <div class="cart_detail">
       <div class="container">
           <h2>تفـاصيل مشترياتك</h2>
           <button class="clear">حـذف السلة</button>
           <a href="customer_details.html">متـابعة التسـوق</a>
           <div class="taking-sides">
           
           
           
           <div class="nvv">


            <div class="products">
                <div class="prod-img">
                    <img src="images/10ten.ae_1720349116212-removebg-preview.png">
                </div>
                <div class="pro-desc">
                    <h4>برجر مع صلصة الباربكيو</h4>
                    <h2 style="font-weight: 500;">18 د.إ</h2>
                    <label>الكمـية : </label>

                    <select>
                        <option>1</option>
                        <option>2</option>   
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>   
                    <button class="upd">تحديث الكمية</button>
                    <button class="del">حـذف</button>                  
                </div>
            </div>



            <div class="products">
                <div class="prod-img">
                    <img src="images/10ten.ae_1720349116212-removebg-preview.png">
                </div>
                <div class="pro-desc">
                    <h4>برجر مع صلصة الباربكيو</h4>
                    <h2 style="font-weight: 500;">69 د.إ</h2>
                    <label>الكمـية : </label>
                    <select>
                        <option>1</option>
                        <option>2</option>   
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                    <button class="upd">تحديث الكمية</button>
                    <button class="del">حـذف</button>                   
                </div>
            </div>





        </div>


          



           <div class="bills">
                <h2>تفـاصيل الدفـع</h2>
                <div class="promo">
                    <small>هل لديك رمز خصم ؟ </small><br>
                    
                    <input type="text" placeholder="T12340">
                    <button>تطبيق</button><br>
                </div>

                <div class="billing">
                    <p class="bilb">الطلب رقم:#1242</p>
                    <p class="bilb">      ضريبة القيمة المضافة(5%) :          13.00 د.إ</p>
                    <p class="bilb">قيمة التوصيل :             7.50 د.إ</p>
                    <p class="bilb nm">المجـموع:           168 د.إ</p>
                    <a href="#">الإستمرار للدفع</a>
                </div>

           </div>
            
        
        </div>
       </div>
    </div>

    <!-- meal details-->































    <!--footer -->

         <!--footer start-->
         <div class="footer">
            <!--<div class="container">-->
                <div class="taking-footer">
                   
                    <div class="taking-links">
                        <a href="{% url 'policy' %}">سياسة الخصوصية</a>
                        <a href="{% url 'contactus' %}">تواصل معنـا </a>
                        <a href="{% url 'terms' %}">الشروط والأحكام </a>
                        <a href="{% url 'home' %}"> الرئيـسية</a>
                    </div>
                    <div class="log">
                      <img src="images/ten.png" height="75px" width="75px"><br>
                      <small>All Rights Reserved 2024<i class="fa-regular fa-copyright"></i></small>
                      <br><small>Developed by Ahmd Babiker</small>
                  </div>
                </div>
          
        </div>
    <!--footer end-->
    <!--footer -->




















<script>
    const video = document.getElementById('myVideo');

    video.addEventListener('ended', function() {
      video.currentTime = 0;
      video.play();
    });



    const canvas = document.getElementById('canvas');
const ctx = canvas.getContext('2d');

// Set the font and text color
ctx.font = '24px Arial';
ctx.fillStyle = 'white';

// Function to write text on the canvas
function writeText(text) {
  ctx.clearRect(0, 0, canvas.width, canvas.height);
  ctx.fillText(text, 10, 20);
}

// Example usage: write "Hello World" on the canvas
writeText('Hello World');

// Add event listener to update the text on key press
document.addEventListener('keypress', function(event) {
  const text = event.key;
  writeText(text);
});


</script>
</html>


















