<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body dir="rtl">


    <!--navbar start-->


    <nav class="navbar">
        <div class="logo">
            <img src="images/ten.png" height="80px" width="80px">
        </div>
        <div class="tit">
            <small>دومـاً, عشرة على 10</small>
        </div>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-list">
            <li><a href="#">الرئيسية</a></li>
            <li><a href="#">التواصل</a></li>
            <li><a href="#">السلة (0)</a></li>
            <li class="uniqe"><a href="">دخول</a></li>
        </ul>
    </nav>
    <!--navbar ending-->
    




    <!-- initiating -->

    <div class="coverphoto">
        <div class="container">
           <div class="defintion">
               <h2>الطعــمُ الأفضَـل علـى الإطلاق<br>في الهَـير</h2>
               <small>نُقـدم أطبـاق المعكرونة و البطاطا المقلية <br> مع إضافات مميزة وسندوتشات البرجر وعـصائر مُنعشة والمزيد</small><br>
               <a href="#">إستكشـف الآن</a>
           </div>
        </div>
    </div>

    <!-- initiating -->




    


    <!-- svgs -->
    <div class="svg">
        <div class="container">
           <div class="taking-svgs">
               <div class="item">
                   <img src="images/pasta-icon.png">
               </div>
               <div class="item">
                <img src="images/burger-icon.png">
            </div>
            <div class="item">
                <img src="images/soda-with-straw-icon.png">
            </div>
            <div class="item">
                <img src="images/french-fries-icon.png">
            </div>
           </div> 
        </div>
    </div>
    <!-- svgs -->








    <!-- most sold -->

    <div class="most">
        <div class="container">
            <h2>الأكثر مبيعـاً <i class="fas fa-fire"></i>
            </h2>
            <small class="tryit">ننـصحك بتذوقه الآن</small>
            <div class="taking-products">


                <div class="product">
                    <div class="im">
                        <img src="tenten.png">
                    </div>
                    <div class="desc">
                        <h2>فرايز بالموزاريلا</h2>
                        <small class="uniqe">الســاندوتـشـات</small><br>
                        <small>المكونات : نا الوصف الصغير للمنتج 
                            نا الوصف الصغير للمنتج 
                        </small><br>
                        <h1>18 <small class="un">د . إ (شامـل الضريبة)</small></h1>
                    </div>
                </div>



                <div class="product">
                    <div class="im">
                        <img src="images/10ten.ae_1720349136415-removebg-preview.png">
                    </div>
                    <div class="desc">
                        <h2>فرايز بالموزاريلا</h2>
                        <small class="uniqe">الفرايز والباستا</small><br>
                        <small>المكونات : نا الوصف الصغير للمنتج 
                            نا الوصف الصغير للمنتج 
                        </small><br>
                        <h1>29 <small class="un">د . إ (شامـل الضريبة)</small></h1>
                    </div>
                </div>


                <div class="product">
                    <div class="im">
                        <img src="images/10ten.ae_1720349023038-removebg-preview.png">
                    </div>
                    <div class="desc">
                        <h2>فرايز بالموزاريلا</h2>
                        <small class="uniqe">الســاندوتـشـات</small><br>
                        <small>المكونات : نا الوصف الصغير للمنتج 
                            نا الوصف الصغير للمنتج 
                        </small><br>
                        <h1>34 <small class="un">د . إ (شامـل الضريبة)</small></h1>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- most sold -->






    <!-- sandwiches -->
       <div class="sandwiches">
           <div class="container">
               <h2>قائمـة الوجبـات</h2>
               <small class="menn">برجـر , باستا, دجاج مقلي , بطـاطا مقلية و مشروبـات منعشة</small>
               <div class="taking-snadwiches">


                    <div class="sand-product">
                            <img src="images/10ten.ae_1720349103733-removebg-preview.png">
                      
                            <div class="description">
                                <h4>فرايز بالموزاريلا</h4>
                                <small class="dr">مشروبـات</small><br>
                                <small>المكونات : نا الوصف الصغير للمنتج 
                                    نا الوصف الصغير للمنتج 
                                </small><br>
                                <small> التقييـم :   4.5 / 5    <img src="star-empty-icon.png" style="width: 15px;height:15px"></small>
                               
                                <div class="fav" style="display: flex">
                                    <div class="prr">
                                        <h3>29 <small class="pr">د . إ</small></h3>
                                    </div>
                                    <div class="item">
                                    <a href="meal_details.html"> أضف للمفضلة</a>
                                    </div>
                                </div>
                            </div>
                    </div>


                    <div class="sand-product">
                            <img src="images/10ten.ae_1720349162327-removebg-preview.png">
                       
                            <div class="description">
                                <h4>فرايز بالموزاريلا</h4>
                                <small class="dr">مشروبـات</small><br>

                                <small>المكونات : نا الوصف الصغير للمنتج 
                                    نا الوصف الصغير للمنتج 
                                </small><br>
                                <small> التقييـم :   4.5 / 5    <img src="star-empty-icon.png" style="width: 15px;height:15px"></small>
                               
                                <div class="fav" style="display: flex">
                                    <div class="prr">
                                        <h3>38 <small class="pr">د . إ</small></h3>
                                    </div>
                                    <div class="item">
                                        <a href="#"> أضف للمفضلة</a>
                                    </div>
                                </div>
                            </div>
                    </div>


                    <div class="sand-product">
                            <img src="images/10ten.ae_1720349196339-removebg-preview.png">
                            <div class="description">
                                <h4>فرايز بالموزاريلا</h4>
                                <small class="dr">مشروبـات</small><br>

                                <small>المكونات : نا الوصف الصغير للمنتج 
                                    نا الوصف الصغير للمنتج 
                                </small><br>
                                <small> التقييـم :   4.5 / 5    <img src="star-empty-icon.png" style="width: 15px;height:15px"></small>
                               
                                <div class="fav" style="display: flex">
                                    <div class="prr">
                                        <h3> 41<small class="pr">د . إ</small></h3>
                                    </div>
                                    <div class="item">
                                        <a href="#"> أضف للمفضلة<i class="far fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                    </div>
                    

                    <div class="sand-product">
                        <img src="images/10ten.ae_1720349196339-removebg-preview.png">
                        <div class="description">
                            <h4>فرايز بالموزاريلا</h4>
                            <small class="dr">مشروبـات</small><br>

                            <small>المكونات : نا الوصف الصغير للمنتج 
                                نا الوصف الصغير للمنتج 
                            </small><br>
                            <small> التقييـم :   4.5 / 5    <img src="star-empty-icon.png" style="width: 15px;height:15px"></small>
                           
                            <div class="fav" style="display: flex">
                                <div class="prr">
                                    <h3>11<small class="pr">د . إ</small></h3>
                                </div>
                                <div class="item">
                                    <a href="#"> أضف للمفضلة</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="sand-product">
                        <img src="images/10ten.ae_1720349218048-removebg-preview.png">
                        <div class="description">
                            <h4>فرايز بالموزاريلا</h4>
                            <small class="dr">مشروبـات</small><br>

                            <small>المكونات : نا الوصف الصغير للمنتج 
                                نا الوصف الصغير للمنتج 
                            </small><br>
                            <small> التقييـم :   4.5 / 5    <img src="star-empty-icon.png" style="width: 15px;height:15px"></small>
                           
                            <div class="fav" style="display: flex">
                                <div class="prr">
                                    <h3>39 <small class="pr">د . إ</small></h3>
                                </div>
                                <div class="item">
                                    <a href="#"> أضف للمفضلة</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="sand-product">
                        <img src="images/10ten.ae_1720349253302-removebg-preview.png">
                        <div class="description">
                            <h4>فرايز بالموزاريلا</h4>
                            <small class="dr">مشروبـات</small><br>

                            <small>المكونات : نا الوصف الصغير للمنتج 
                                نا الوصف الصغير للمنتج 
                            </small><br>
                            <small> التقييـم :   4.5 / 5    <img src="star-empty-icon.png" style="width: 15px;height:15px"></small>
                           
                            <div class="fav" style="display: flex">
                                <div class="prr">
                                    <h3>48 <small class="pr">د . إ</small></h3>
                                </div>
                                <div class="item">
                                    <a href="#"> أضف للمفضلة</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="sand-product">
                        <img src="images/10ten.ae_1720349136415-removebg-preview.png">
                        <div class="description">
                            <h4>فرايز بالموزاريلا</h4>
                            <small class="dr">مشروبـات</small><br>

                            <small>المكونات : نا الوصف الصغير للمنتج 
                                نا الوصف الصغير للمنتج 
                            </small><br>
                            <small> التقييـم :   4.5 / 5    <img src="star-empty-icon.png" style="width: 15px;height:15px"></small>
                           
                            <div class="fav" style="display: flex">
                                <div class="prr">
                                    <h3>21 <small class="pr">د . إ</small></h3>
                                </div>
                                <div class="item">
                                    <a href="#"> أضف للمفضلة</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="sand-product">
                        <img src="images/10ten.ae_1720349244449-removebg-preview.png">
                        <div class="description">
                            <h4>فرايز بالموزاريلا</h4>
                            <small class="dr">مشروبـات</small><br>

                            <small>المكونات : نا الوصف الصغير للمنتج 
                                نا الوصف الصغير للمنتج 
                            </small><br>
                            <small> التقييـم :   4.5 / 5    <img src="star-empty-icon.png" style="width: 15px;height:15px"></small>
                           
                            <div class="fav" style="display: flex">
                                <div class="prr">
                                    <h3>29 <small class="pr">د . إ</small></h3>
                                </div>
                                <div class="item">
                                    <a href="#"> أضف للمفضلة</a>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="sand-product">
                        <img src="images/10ten.ae_1720349218048-removebg-preview.png">
                        <div class="description">
                            <h4>فرايز بالموزاريلا</h4>
                            <small class="dr">مشروبـات</small><br>

                            <small>المكونات : نا الوصف الصغير للمنتج 
                                نا الوصف الصغير للمنتج 
                            </small><br>
                            <small> التقييـم :   4.5 / 5    <img src="star-empty-icon.png" style="width: 15px;height:15px"></small>
                           
                            <div class="fav" style="display: flex">
                                <div class="prr">
                                    <h3>29 <small class="pr">د . إ</small></h3>
                                </div>
                                <div class="item">
                                    <a href="#"> أضف للمفضلة</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="sand-product">
                        <img src="images/10ten.ae_1720349263363-removebg-preview.png">
                        <div class="description">
                            <h4>فرايز بالموزاريلا</h4>
                            <small class="dr">مشروبـات</small><br>

                            <small>المكونات : نا الوصف الصغير للمنتج 
                                نا الوصف الصغير للمنتج 
                            </small><br>
                            <small> التقييـم :   4.5 / 5    <img src="star-empty-icon.png" style="width: 15px;height:15px"></small>
                           
                            <div class="fav" style="display: flex">
                                <div class="prr">
                                    <h3>29 <small class="pr">د . إ</small></h3>
                                </div>
                                <div class="item">
                                    <a href="#"> أضف للمفضلة</a>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="sand-product">
                        <img src="images/10ten.ae_1720349332544-removebg-preview.png">
                        <div class="description">
                            <h4>فرايز بالموزاريلا</h4>
                            <small class="dr">مشروبـات</small><br>

                            <small>المكونات : نا الوصف الصغير للمنتج 
                                نا الوصف الصغير للمنتج 
                            </small><br>
                            <small> التقييـم :   4.5 / 5    <img src="star-empty-icon.png" style="width: 15px;height:15px"></small>
                           
                            <div class="fav" style="display: flex">
                                <div class="prr">
                                    <h3>29 <small class="pr">د . إ</small></h3>
                                </div>
                                <div class="item">
                                    <a href="#"> أضف للمفضلة</a>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="sand-product">
                        <img src="images/10ten.ae_1720349148860-removebg-preview.png">
                        <div class="description">
                            <h4>فرايز بالموزاريلا</h4>
                            <small class="dr">مشروبـات</small><br>

                            <small>المكونات : نا الوصف الصغير للمنتج 
                                نا الوصف الصغير للمنتج 
                            </small><br>
                            <small> التقييـم :   4.5 / 5    <img src="star-empty-icon.png" style="width: 15px;height:15px"></small>
                           
                            <div class="fav" style="display: flex">
                                <div class="prr">
                                    <h3>29 <small class="pr">د . إ</small></h3>
                                </div>
                                <div class="item">
                                    <a href="#"> أضف للمفضلة</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    


               </div>
           </div>
       </div>
    <!-- sandwiches -->







































    <!--footer -->

         <!--footer start-->
         <div class="footer">
            <!--<div class="container">-->
                <div class="taking-footer">
                   
                    <div class="taking-links">
                        <a href="{% url 'policy' %}">سياسة الخصوصية</a>
                        <a href="{% url 'contactus' %}">تواصل معنـا </a>
                        <a href="{% url 'terms' %}">الشروط والأحكام </a>
                        <a href="{% url 'home' %}"> الرئيـسية</a>
                    </div>
                    <div class="log">
                      <img src="images/ten.png" height="75px" width="75px"><br>
                      <small>All Rights Reserved 2024<i class="fa-regular fa-copyright"></i></small>
                      <br><small>Developed by Ahmd Babiker</small>
                  </div>
                </div>
          
        </div>
    <!--footer end-->
    <!--footer -->





    <!-- footer navbar-->
        <div class="foooter-nav">
            <div class="container">
                <div class="links">
                    <div class="link-tab">
                        <i class="fas fa-home"></i><br>
                        <small>الرئيسية </small>
                    </div>
                    <div class="link-tab">
                        <i class="fas fa-shopping-bag"></i><br>
                        <small>طلباتي </small>
                    </div>
                    <div class="link-tab">
                        <i class="fas fa-user"></i><br>
                        <small>حسابي </small>
                        
                    </div>
                    <div class="link-tab">
                        <i class="fas fa-shopping-cart"></i><br>
                        <small>سلة التسوق </small>
                    </div>
                   
                </div>
            </div>
        </div>

    <!-- footer navbar-->


























<script>

    // Get the footer navigation element
var footerNav = document.querySelector('.foooter-nav');

// Function to toggle visibility based on scroll position
function toggleFooterNav() {
    if (window.scrollY > 100) { // Adjust scroll threshold as needed
        footerNav.classList.add('show');
    } else {
        footerNav.classList.remove('show');
    }
}

// Listen for scroll events and toggle footer navigation visibility
window.addEventListener('scroll', toggleFooterNav);
</script>

</body>
</html>























<!--    
 <div class="coverphoto">
        <div class="container">
            <div class="image">
                <img src="tenten.png">
            </div>
            <div class="paragraph">
                <h1>ندعوك لتذوق <br>الطعـم الأفضل على الإطلاق</h1>
                
                <small>دومـاً, عشره على عشره</small><br>
                <a href="#">إستكشـف الآن</a>
            </div>
        </div>
    </div>

-->